*{
    margin: 0px;
    padding: 0px;
}

#container{
    width: 70%;
    background: red;
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    background: lightblue;
    color: #333333;
    height: 150px;
    line-height: 150px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

aside{
    width: 25%;
    background: #ccc;
    float: left;
    min-height: 700px;
    text-align: center;
    line-height: 700px;
}

.clearfix{
    float: none;
    clear: both;
}

#articles{
    background-color: lemonchiffon;
    width: 75%;
    min-height: 700px;
    float: left;
}

#articles article{
    width: 25%;
    height: 150px;
    background: green;
    color: white;
    line-height: 150px;
    text-align: center;
    border: 2px solid white;
    float: left;
    margin: 10px;
}

/* responsive */

/* desde 0 a 888px */
@media (max-width: 888px){
    #articles article{
        width: 40%;
        background: red;
    }
}

@media (max-width: 632px){

    #container{
        overflow: hidden;
    }

    aside{
        float: none;
        min-height: auto;
        width: 91%;
        padding: 19px;
    }

    #articles{
        width: 100%;
    }

    #articles article{
        width: 90%;
        background: blue;
    }
}